header {
  background-color: #ffd6e8;
}

nav > a {
  color: black;
  font-size: x-large;
  text-decoration: none;
}

nav > a:hover {
  color: black;
  text-decoration: underline;
}

#landing {
  min-height: 100vh;
}

.approach {
  border: none;
}

.img-thumbnail {
  border:none;
}

.custom-shadow {
background-color: transparent;
border: 1px solid black;
box-sizing: border-box;
color: #00132C;
font-size: 32px;
font-weight: 700;
line-height: 24px;
padding: 16px 23px;
position: relative;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.custom-shadow:hover,
.custom-shadow:active {
outline: 0;
}

.custom-shadow:hover {
background-color: transparent;
cursor: pointer;
}

.custom-shadow:before {
background-color: #ffd6e8;
content: "";
height: calc(100% + 3px);
position: absolute;
right: -7px;
top: -9px;
transition: background-color 300ms ease-in;
width: 100%;
z-index: -1;
}

.custom-shadow:hover:before {
background-color: #82b1ff;
}

@media (min-width: 768px) {
.custom-shadow {
  padding: 16px 32px;
}
}

.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}